{% extends 'base.html' %}

{% block content %}
<h1> Ashish's Book Collection</h1>
<hr> 
<h5> Hi, welcome to my online library.</h5>
<p> As a young kid I was always a big reader, before dropping books for videogames, tv, and movies. One day in my early 20s, I realised I still thought of myself as a reader, despite not reading more than a 2/3 books a year (outside of education). So now I'm trying to rememdy this by picking my more books, and putting down my phone. </p>
<p> This website helps me track the books I own, the one's I've read, and those I still need to trudge through.</p>


{% endblock %}